/* Success/error message boxes */
.box {
	border: 1px dotted silver;
	border-radius: 5px;
	padding: 4px;
}
.error {
	background-color: #ff6666;
}
.success {
	background-color: #88ff88;
}

.install-password {
	font-size: 1.2em;
}

.top-menu {
	border: 1px dotted silver;
	min-height: 18px;
	padding: 4px;
	margin-bottom: 4px;
}

.menu-options {
	float: right;
}

h1, h2, h3 {
	margin-top: 0;
	margin-bottom: 8px;
}

.post-synopsis {
	padding-bottom: 8px;
	border-bottom: 1px dotted silver;
	margin-bottom: 20px;
}

.post-synopsis h2, .post h2 {
	color: darkblue;
}

.post .date, .post-synopsis .meta {
	color: white;
	background-color: grey;
	border-radius: 7px;
	padding: 2px;
	display: inline;
	font-size: 0.95em;
}

.comment .comment-meta {
	font-size: 0.85em;
	color: grey;
	border-top: 1px dotted silver;
	padding-top: 8px;
}

.comment-body p {
	margin: 8px 4px;
}

.comment-list {
	border-bottom: 1px dotted silver;
	margin-bottom: 12px;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn { 
    float: left;
    width: 75%;
}
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn { 
      width: 100%;
      padding: 0;
    }
}